*{
  font-family: 'Quicksand', sans-serif;
}

html, body{
  height: 100%;
}


body {
  text-align: center;
  background: white;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Sans-serif;
}

h1 a{
  text-decoration:none;
  color: black;
  font-weight: 100;
}
h1{
  color: black;
  border:1.5px solid black;
  text-align: center;
}
nav {
  background-color: black;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}

nav a {
  text-decoration: none;
  background: white;
  color:black;
  padding: 5px;
  display: inline-block;
  border: 2px solid black;

}
nav a:hover{
  background: black;
  color: green;
}
.effect3 a {
	color: #c1add8;
	overflow: hidden;
	padding: 0 5px;
	height: 1em;
}

.effect3 a span {
	position: relative;
	display: inline-block;

	transition: transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
}

.effect3 a span::before {
	color: #440e62;
	position: absolute;
	top: 100%;
	content: attr(data-hover);

	transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.effect3 a:hover span,
.effect3 a:focus span {
	transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}

li {
  text-decoration: none;
  margin:0;
  padding: 0;
}
li a {
  display: inline;
}
.clearfix:after{
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

p {
  font-size: 30px;
  padding: 2px;
  background: rgba( 0, 0, 0, 0.7);
}
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}
#some-girl{
  height: 200px;
  width:auto;
}
#content {
  height:300px;
  width: auto;
}
