*{
  font-family: 'Quicksand', sans-serif;
}

html, body{
  height: 100%;
}


body {
  text-align: center;
  background: white;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Sans-serif;
}

h1 a{
  text-decoration:none;
  color: black;
  font-weight: 100;
}
h1{
  color: black;
  border-bottom:1.5px solid black;
  text-align: center;
}
.head:hover{
  background: black;
}
h1 a:hover{
  color:green;
}

nav {
  background-color: black;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}

nav a {
  text-decoration: none;
  background: white;
  color:black;
  padding: 5px;
  display: inline-block;
  border: 2px solid black;

}
nav a:hover{
  background: black;
  color: green;
}

#about:hover{
  display:inline-block;
  background: black;
  color: green;
}

li {
  text-decoration: none;
  margin:0;
  padding: 0;
}
li a {
  display: inline;
}
.clearfix:after{
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

p {
  font-size: 30px;
  padding: 2px;
  background: rgba( 0, 0, 0, 0.7);
}
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}
#some-girl{
  height: 200px;
  width:auto;
}
#content {
  height:300px;
  width: auto;
}
